.form {
   display: flex;
   flex: 1;
   justify-content: center;
   align-items: center;
   padding: 15px;
   flex-direction: column;
}

.search-box {
	display: flex;
   justify-content: left;
	align-items: left;
}

